.userPhoto {
    width: 30px;
    height: 40px;
}

.selectedPage {
    font-weight: bold;
    font-size: 25px;
    color: red;
}

.pageStyle {
    display: inline-block;
    font-size: 15px;
    color: gold;
    margin: 5px;
    border: 1px solid blue;
    border-radius: 25%;
    padding: 5px;
    background-color: darkslategrey;

}

.loaderImg {
    width: 500px;
    height: 500px;
}
.btn{
    width: border-box;
    height: border-box;
    background-color: red;
    border-radius: 25%;
}
.btn2{
    width: border-box;
    height: border-box;
    background-color: blue;
    border-radius: 25%;
}